{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% load math %}
{% load permissions %}
{% block title %}
{{ user_role }}
{% endblock title %}

{% block content %}
<style>
    .admin-card{
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 6px rgb(204 204 204 / 0.25);
        padding: 30px 10px;
    } 
    .pcode.left-spacer {
	margin-left: 0px;
    }
    .pcode{
	margin-left: 250px;
    }
    @media(max-width:991px){
        .pcode{
	    margin-left: 0px;
    }
    }
    .row.form-group.align-items-center {
        padding: 0 30%;
    }
    .btn-dark {
        color: #000 ;
        background-color: #fff;
        border-color: #000 ;
    }
    .btn-outline-info:hover {
        color: #fff;
        background-color: #000 ;
        border-color: #ced4da;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 47px;
        height: 21px;
        vertical-align: middle;
    }
    
    .switch input {
        display: none;
    }

    .header-switch {
        position: relative;
        display: inline-block;
        width: 47px;
        height: 26px;
        vertical-align: middle;
    }
    
    .header-switch input {
        display: none;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    
    input:checked + .slider {
        background-color: #54ca30;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #333333;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .card-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
</style>
<div class="pcode" id='nw1' >
    <div> 
        <div class="container-fluid pt-4" >
            <div class="admin-card">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="page-content"  >
                            <div class="container-fluid" >
                    
                                {% include "includes/messages.html" %}
                    
                                <div class="table-data__tool">
                                    <div class="container-fluid" style="padding: 0;">
                                        <!-- Order by and search -->
                                         <form method="get">
                                            <div class="row mb-3">
                                                <div class="rs-select2--light rs-select2--md col-md-3 mb-3 mb-md-0">
                                                    <select id="select-sort" class="form-control">
                                                        <option {% if order == '1' %}selected="selected" {% endif %} value="1">{% trans "Recent Login" %}</option>
                                                        <option {% if order == '2' %}selected="selected" {% endif %} value="2">{% trans "Created Ascending" %}</option>
                                                        <option {% if order == '3' %}selected="selected" {% endif %} value="3">{% trans "Created Descending" %}</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                
                                                
                                                <div class="rs-select2--light rs-select2--md col-md-9 mb-3 mb-md-0" multiple="multiple">
                                                    <select id="input-search" name="role_name" class="js-example-basic-multiple tokenize-open">
                                                        {% if selected_users %}
                                                            {% for user in selected_users %}
                                                                <option  selected="selected" value="{{ user.id }}">{{ user.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                        
                                            <!-- Date filters -->
                                            <div class="row flex-sm-nowrap flex-wrap">
                                                <div class="col form-group mt-1" style="min-width: 210px;">
                                                    <div class="date-input">
                                                        <span>{% trans "From date" %}</span>
                                                        <input type="text" class="form-control" id="search-date-created-from" value={{from}}
                                                        name="from" readonly="true" placeholder='{% trans "Select from date" %}' onChange="validateDateRange(this)" style="background-color:transparent">
                                                    </div>
                                                </div>
                        
                                                <div class="col form-group mt-1" style="min-width: 210px;">
                                                    <div class="date-input">
                                                        <span>{% trans "To date" %}</span>
                                                        <input type="text" class="form-control" id="search-date-created-to" value={{to}}
                                                        name="to" readonly="true" placeholder='{% trans "Select to date" %}' onChange="validateDateRange(this)" style="background-color:transparent">
                                                    </div>
                                                </div>

                                                <div class='input-group-btn position-relative col-md-2 col-xs-12'>
                                                    <button class="btn btn-primary btn-block mt-4" id="button-search">
                                                        {% trans "Search" %}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                    
                                        <!-- Add dealer button -->
                                        {% if request.user.role == 'admin'  %}
                                            <div class="row">
                                                <div class="col-12 ml-auto">
                                                    <div class="text-center mb-3">
                                                        <a href="#add-user" data-effect="mfp-zoom-in" class="add-user-popup btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">
                                                            <i class="fa fa-plus-circle"></i> {% trans "Add" %} {{ user_role }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                    
                                    </div>
                                </div>
                    
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2 users-table text-center">
                                        <thead>
                                            <tr>
                                                <tr>
                                                    <th>{% trans "SN" %}</th>
                                                    <th>{% trans "Role" %}</th>
                                                    <th>{% trans "Created at" %}</th>
                                                    <th>{% trans "Last Login at" %}</th>
                                                    <th>{% trans "Action" %}</th>
                                                </tr>
                                            </tr>
                                        </thead>
                    
                                        <tbody id="table-user">
                                            {% for user in users %}
                                                <!-- Dealer summary info -->
                                                <tr class="tr-collapse table-row tr-user bg-light" aria-expanded="false" role_id="{{ user.pk }}">
                                                    <td>
                                                        <div>{{ forloop.counter }}</div>
                                                    </td>
                                                    <td>
                                                        <span class="user-name">{{ user.username }}</span>
                                                    </td>
                    
                                                    <td>{{ user.created }}</td>
                                                    <td>{{ user.last_login }}</td>
                    
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <a href="#edit-user" data-username="{{ user.username }}" data-first_name="{{ user.first_name }}" data-last_name="{{ user.last_name }}" data-effect="mfp-zoom-in" class="edit-user-popup item row-button-edit ignore-collapse">
                                                                <img src="{% static '/icon/edit.png' %}" width="15" height="15" ></img>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                        
                                                <!-- Collapsed content -->
                                                <tr class="tr-collapse-content user_info" user_id="{{ user.pk }}">
                                                    <td colspan="5" style="margin: 0;padding: 0;">
                                                        <div class="collapse" id="collapse-{{ forloop.counter }}" data-parent="#table-user" style="padding: 0;">
                                                            <div class="card card-body m-0 p-0 p-md-3">
                                                                <div class="default-tab">
                                                                    <nav>
                                                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                                            <!--  Notes tab end -->
                                                                            
                                                                            <!--  Permissions tab start -->
                                                                            <a class="nav-item nav-link active show"
                                                                                id="nav-permissions-{{ forloop.counter }}-tab"
                                                                                data-toggle="tab" href="#nav-permissions-{{ forloop.counter }}" role="tab"
                                                                                aria-controls="nav-permissions-{{ forloop.counter }}" aria-selected="false"
                                                                                style="padding: .5rem 0.5rem;">
                                                                                <div class="noti__item mr-0 pl-2 pr-2">
                                                                                    <img src="{% static '/icon/permission.svg' %}" width="20" height="20" ></img>
                                                                                </div>
                                                                            </a>
                                                                            <!--  Permissions tab end -->
                                                                        
                                                                        </div>
                                                                    </nav>

                                                                    <div class="tab-content" id="nav-tabContent">
                                                                        <!-- Permissions tab content start -->
                                                                        <div class="tab-pane fade active show" id="nav-permissions-{{ forloop.counter }}"
                                                                                role="tabpanel"
                                                                                aria-labelledby="nav-permissions-{{ forloop.counter }}-tab">
                                                                            <div class="card m-0" style="border-top: 0;border-radius: 0;">
                                                                                <div class="card-body pl-2 pr-2 pb-2">
                                                                                    <div class="card-title">
                                                                                        <h3 class="text-center title-2">{% trans "Permissions" %}</h3>
                                                                                    </div>
                                                                                    <hr>
                                                                                </div>
                                                                                <div class="m-2">
                                                                                    <div class="row">
                                                                                        {% regroup permissions by group as grouped_permissions %}
                                                                                        {% for group in grouped_permissions %}
                                                                                            <div class="col-md-6">
                                                                                                <div class="col-12 tournament-permissions">
                                                                                                    <div class="card card-shadow">
                                                                                                        <div class="card-header bg-dark text-white text-left">
                                                                                                            <div class="row">
                                                                                                                <div class="col">
                                                                                                                    <i class="fas fa-lg fa-trophy mr-4"><font class="ml-3 font-weight-normal">{{ group.grouper }} Permissions</font></i>
                                                                                                                </div>  
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="card-body">
                                                                                                            {% for permission in group.list %}
                                                                                                                <div class="row">
                                                                                                                    <div class="col-8 text-left">
                                                                                                                        <label class="form-check-label h6 ml-3" for="{{permission.code}}-{{forloop.counter}}">{{permission.name}}</label>
                                                                                                                    </div>
                                                                                                                    <div class="col-4 text-center">
                                                                                                                        <label class="switch">
                                                                                                                            <input class="form-check-input" id="{{permission.code}}-{{forloop.counter}}" type="checkbox" {% if user|has_permission:permission.code %}checked{% endif %} onclick="update_permission('{{permission.code}}', {{user.id}})">
                                                                                                                            <span class="slider"></span>
                                                                                                                        </label>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            {% endfor %}
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endfor %}

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Permissions tab content end-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                        
                                                <tr class="spacer"></tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="5">
                                                        No Users Available
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                    
                                {% include '../roles/create_user.html' %}
                                {% include '../roles/update_user.html' %}
                                {% include 'includes/pagination.html' %}
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div id="pop-loader"></div>
<script type="text/javascript">
    var spinner = $('#pop-loader');
    const isGreaterThanZero = value => value >= 0;

    $('#mobile-collapse').click(function () { 
        $("#nw1").toggleClass('left-spacer');        
    });

    function update_permission(permission, role_id) {
        $.ajax({
            url: "{% url 'admin-panel:update-role' %}",
            type: "PUT",
            dataType: "json",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },        
            data: {
                role_id: role_id,
                permission: permission,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(result){
                Swal.fire({
                    icon: 'success',
                    title: result.title,
                })
            },
            error: function(data) {
                if(data.responseText.includes("login")){
                    Swal.fire({
                        icon: 'info',
                        title: 'Session Expired',
                        text: "Please login to continue.",
                        confirmButtonText: "Login"
                    }).then(()=>{
                        location.reload();
                    });
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.responseJSON.message,
                }).then(() => {
                    window.location.reload();
                });
            },
        });
    };

    function validateDateRange(input){
        var from_date = $("#search-date-created-from").val();
        var to_date = $("#search-date-created-to").val();

        error_msg = "";
        if(input.id == "search-date-created-from"){
            error_msg = "From date must be less than To date!!"
        }
        else{
            error_msg = "To date must be greater than From date!!"
        }
        from_day = parseInt(from_date.split("/")[0]);
        from_month = parseInt(from_date.split("/")[1]);
        from_year = from_date.split("/")[2];
        from_year = from_year.split(" ")[0];

        to_day = parseInt(to_date.split("/")[0]);
        to_month = parseInt(to_date.split("/")[1]);
        to_year = to_date.split("/")[2];
        to_year = to_year.split(" ")[0];
        // from date should be less than to date
        if(from_year > to_year){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error_msg
            });
            $("#search-date-created-from").val("{{from}}");
            $("#search-date-created-to").val("{{to}}");
            return false;
        }else if(from_year == to_year){
            if(from_month > to_month){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error_msg
                });
                $("#search-date-created-from").val("{{from}}");
                $("#search-date-created-to").val("{{to}}");
                return false;
            }else if(from_month == to_month){
                if(from_day > to_day){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error_msg
                    });
                    $("#search-date-created-from").val("{{from}}");
                    $("#search-date-created-to").val("{{to}}");
                    return false;
                }
            }
        }        
    }

    function view_password(form_id, password_id, toggle_id){
        passwordInput = $(`#${form_id} #${password_id}`);
        toggleButton = $(`#${form_id} #${toggle_id}`);
        icon = toggleButton.find('i');
        isPasswordVisible = passwordInput.attr('type') === 'text';
        passwordInput.attr('type', isPasswordVisible ? 'password' : 'text');
        icon.toggleClass('fa-eye', !isPasswordVisible);
        icon.toggleClass('fa-eye-slash', isPasswordVisible);
    }
    
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $(document).ready(function () {

        $(".table-row").click(function(){
            $(this).find(".table-arrow").toggleClass("arrow-rotate");
        });
        
        $(".ignore-collapse").on("click", function(e){
            e.stopPropagation();
        });

        $('.add-user-popup').magnificPopup({
            type:'inline',
            midClick: true,
            fixedContentPos: true,
            callbacks: {
                beforeOpen: function() {
                    console.log("sadkjashdkjashdkj")
                    this.st.mainClass = this.st.el.attr('data-effect');
                },
                close: function(){
                    $("#add-user input").val(null);
                    $('.error-msg').text('');
                }
            },
        });

        $('#create-user-form').submit(function (event) {
            event.preventDefault();
            spinner.show();

            var formdata=new FormData();
            formdata.append('username',$("#username-input input").val());
            formdata.append('first_name',$("#first_name-input input").val());
            formdata.append('last_name',$("#last_name-input input").val());
            formdata.append('password',$("#password-input input").val());
            formdata.append('confirm_password',$("#confirm-password-input input").val());
            formdata.append('csrfmiddlewaretoken','{{ csrf_token }}');
            
            $.ajax({
                url: "{% url 'admin-panel:create-user' role=user_role %}",
                type: "POST",
                enctype: 'multipart/form-data',
                data:formdata,
                cache : false,
                processData:false,
                contentType: false,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function (data) {
                    spinner.hide();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                    }).then((result) => {
                        $.magnificPopup.close();
                        location.reload();
                    });
                },
                error: function(response){
                    spinner.hide();
                    Swal.fire({
                        icon: "error",
                        title: "Bad Request",
                        text: response['responseJSON']['message']
                    });
                },
            });
        });

        $('.edit-user-popup').magnificPopup({
            type:'inline',
            midClick: true,
            fixedContentPos: true,
            callbacks: {
                beforeOpen: function() {
                    this.st.mainClass = this.st.el.attr('data-effect');
                    var username = this.st.el.attr('data-username');

                    $("#edit-user input[name='username']").val(username).prop('readonly', true);
                },
                close: function(){
                    $("#edit-role input").val(null);
                    $('.error-msg').text('');
                }
            },
        });
        

        $('#edit-user-form').submit(function (event) {
            event.preventDefault();
            spinner.show();

            var formdata=new FormData();
            formdata.append('username',$("#username-input input").val());
            formdata.append('password',$("#edit-password-input input").val());
            formdata.append('confirm_password',$("#edit-confirm-password-input input").val());
            formdata.append('csrfmiddlewaretoken','{{ csrf_token }}');

            $.ajax({
                url: "{% url 'admin-panel:update-user' role=user_role %}",
                type: "POST",
                enctype: 'multipart/form-data',
                data:formdata,
                cache : false,
                processData:false,
                contentType: false,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function (data) {
                    spinner.hide();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                    }).then((result) => {
                        $.magnificPopup.close();
                        location.reload();
                    });
                },
                error: function(response){
                    spinner.hide();
                    Swal.fire({
                        icon: "error",
                        title: "Bad Request",
                        text: response['responseJSON']['message']
                    });
                },
            });
        });


        $('#search-date-created-from').datetimepicker({
                format: 'd/m/Y',
                defaultDate: new Date(),
                timepicker: false,
            }
        );

        $('#search-date-created-to').datetimepicker({
                format: 'd/m/Y',
                defaultDate: new Date(),
                timepicker: false,
            }
        );
        $('#input-search').tokenize2({
            dropdownMaxItems:"5",
            placeholder: "{% trans 'Search by Username' %}",
            searchMinLength:3,
            dataSource: function(term, object){
                $.ajax("{% url 'admin-panel:user-list-by-role' role=user_role %}", {
                    type: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: { search:term,start:0 },
                    global: false, 
                    dataType: 'json',
                    success: function(data){
                        var $items = [];
                        $.each(data, function(k, v){
                            $items.push(v);
                        });
                        object.trigger('tokenize:dropdown:fill', [$items]);
                    }
                });
            }
        });


        $('#select-sort').on('change', function () {
            window.location = window.location.pathname + "?order=" + $('#select-sort option').filter(':selected').val() + "&from=" + $('#search-date-created-from').val() + "&to=" + $('#search-date-created-to').val();
        });
    });

</script>

<style>
    .no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    }

    .no-spin {
    -moz-appearance:textfield !important;
    }
</style>

{% endblock content %}
