{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Create Categories
{% endblock title %}
{% block content %}
<style>
    #pop-loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url(../../../static/Desktop_static/images/loading2.gif) no-repeat center center;
        z-index: 10000;
    }
    .admin-card{
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 6px rgb(204 204 204 / 0.25);
        padding: 30px 10px;
    }
    .pcode.left-spacer {
	    margin-left: 0px;
    }
    .pcode{
	    margin-left: 250px;
    }
    @media(max-width:767px){
        .pcode{
	        margin-left: 0px;
        }
    }
    .django-ckeditor-widget{
        display: block !important;
    }
    #cke_1_contents{
        height: 150px !important;
    }
    #banner_img{
        width: 500px;
        height: 200px;
    }
    input[type=file]{
    width:90px;
}
</style>
<div id="pop-loader"></div>
<div class="pcode" id='nw1' >
    <div>
        <div class="container-fluid pt-4" >
            <div class="admin-card">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 ">
                        <form class="main-heading-wrap">
                            <input type="button" value="Go back!" onclick="history.back()">
                        </form>
                        <div class="page-content"  >
                            <div class="main-heading-wrap">
                                <h5>{% trans 'Create Category' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <form action=""  method="post" id="upload-file"  enctype="multipart/form-data">
                    {% include "../../../../includes/messages.html" %}
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row mb-3" style="margin-top:10px;">

                        <div class="search-row col-md-6 mb-3 mb-md-0" >
                            <div class="col" style="min-width: 210px;">
                                <div>
                                    <div class="mb-1">
                                        <span style="font-weight: bold;">{% trans "Title" %}
                                        </span>
                                    </div>
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="search-row col-md-6 mb-3 mb-md-0" style="min-width: 210px;">
                            <div class="date-input">
                                <div class="mb-1">
                                <span style="color: #455a64;" >{% trans "Position" %}</span>
                                </div>
                                {{form.position}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 pl-3" >
                        <div class="search-row col-md-6" >
                            <div>
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function validateName(){
    title = $('#id_name').val();
    console.log('title: ' + title);
    if (title.replace(/\s/g, '').length == 0 ) {
        $('#id_name').val('');
        Swal.fire({
            icon: "error",
            title: "Error",
            text: "Name is required"
        });
        return false;
    }
}
</script>
{% endblock content %}