{% load i18n %}
{% load static %}
<style>
    .error-msg{
        color:red
    }
</style>

<div id="add-agent" class="popup mfp-with-anim mfp-hide" style='background-color: white; width:100%;max-width: 550px;margin-left: auto; margin-right: auto; vertical-align:center; '>
    
    <div class="popup-body" style="margin-left: 3em; margin-right: 3em; padding-bottom: 0.3rem; padding-top: 0.3rem;">
        <div class="modal-header mb-2">
            <div class="justify-content-center">
                <h5 class="modal-title ">Create Agent</h5>
            </div>
            <button type="button" style="font-size: 25px;" class="close" data-dismiss="modal" aria-label="Close" id="closebutton">
                <span aria-hidden="true">&times;</span>
              </button>   
        </div> 

        <div class="login-form">
            <form id="create-agent-form">
                <input type="hidden" name="redirect_url" value="{{ request.build_absolute_uri }}">
                {% csrf_token %}
                
                <div class="form-group create-form-margin">
                    <span class="font-weight-bold ml-1">{% trans "Username" %}</span>
                    <div id="username-input">
                        <div class="input-group input-group-rounded">
                            {{ form.username }}
                        </div>
                        <p class="error-msg"></p>
                    </div>
                </div>

                <div class="form-group create-form-margin">
                    <span class="font-weight-bold ml-1">{% trans "Password" %}</span>
                    <div id="password-input">
                        <div class="input-group input-group-rounded">
                            {{ form.password }}
                            <span class="input-group-text" id="password-toggle">
                                <i class="fa fa-eye toggle-icon" title="View/Hide Password" style="cursor:pointer;"></i>
                            </span>
                        </div>
                        <p class="error-msg"></p>
                    </div>
                </div>
                <div class="form-group create-form-margin">
                    <span class="font-weight-bold ml-1">{% trans "Confirm Password" %}</span>
                    <div id="confirm-password-input">
                        <div class="input-group input-group-rounded">
                            {{ form.confirm_password }}
                            <span class="input-group-text" id="password-toggle-cnf">
                                <i class="fa fa-eye toggle-icon" title="View/Hide Password" style="cursor:pointer;"></i>
                            </span>
                        </div>
                        <p class="error-msg"></p>
                    </div>
                </div>

                <div class="pt-2">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">
                        {% trans "Create Agent" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.getElementById('id_password');
        const toggleButton = document.getElementById('password-toggle');
        const passwordInputcnf = document.getElementById('id_cnf_password');
        const toggleButtoncnf= document.getElementById('password-toggle-cnf');

        toggleButton.addEventListener('click', function() {

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleButton.querySelector('i').classList.remove('fa-eye');
                toggleButton.querySelector('i').classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleButton.querySelector('i').classList.remove('fa-eye-slash');
                toggleButton.querySelector('i').classList.add('fa-eye');
               
            }
        });
        toggleButtoncnf.addEventListener('click', function() {

      if (passwordInputcnf.type === 'password') {
        passwordInputcnf.type = 'text';
        toggleButtoncnf.querySelector('i').classList.remove('fa-eye');
        toggleButtoncnf.querySelector('i').classList.add('fa-eye-slash');
      } else {
        passwordInputcnf.type = 'password';
        toggleButtoncnf.querySelector('i').classList.remove('fa-eye-slash');
        toggleButtoncnf.querySelector('i').classList.add('fa-eye');
        
      }
      });
    });
    

    $('#closebutton').on( "click", function() {
                $.magnificPopup.close();
            });
</script>
