{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load permissions %}

{% block title %}
Admin Banner
{% endblock title %}

{% block content %}

<style>
    .admin-card{
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 6px rgb(204 204 204 / 0.25);
        padding: 30px 10px;
    }

    .pcode.left-spacer {
    margin-left: 0px;
    }
    .pcode{
    margin-left: 250px;
    }
    .pcode.left-spacer {
	margin-left: 0px;
    }

    @media(max-width:991px){
        .setting-page .card-title h3{
        font-size: 18px;
        }
        .pcode{
        margin-left: 0px;
        }
    }
    .setting-page .card-title h3{
    font-size: 18px;
    }
    .close-btn {
            position: absolute;
            top: 0%;
            right: 0%;
            color: red;
            font-size: 35px;
            cursor: pointer;
            background-color: black;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 0.6;
    }
    .image_block_inner{
        position: relative;
        border: 1px solid rgb(0, 0, 0);
        overflow: hidden;rgb(0, 0, 0);
        width: 100%;
    }


</style>
<script type="text/javascript">
$('#mobile-collapse').click(function () {
    $("#nw1").toggleClass('left-spacer');
});
    
$(document).ready(function() {
    setTimeout(function(){
      $('#notification_messages').remove();
    }, 3000);

  });

function delete_admin_banner(banner_id){
    Swal.fire({
                title: "Are you sure, you want to delete this banner?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                cancelButtonColor: "#343a40",
                showConfirmButton: true,
        }).then(function (result) {
            if(result.isConfirmed){
                $.ajax("{% url 'admin-panel:delete-admin-banner' %}",{
                    type: "POST",
                    dataType: "json",
                    data: {
                        banner_id: banner_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        Swal.fire({
                            title: data['status'].toLowerCase(),
                            text: data["message"],
                            icon: "success",

                        }).then((result) => {
                            location.reload();
                        });
                    }
                })
            }
        });
    }

$(document).ready(function () {
  $('#AdminBannerTable').DataTable({
    searching : true,
    ordering:false,
    pageLength: 10,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
  });

  {% comment %} $('.img-enlargeable').click(function(){
                    var src = $(this).attr('src');
                    var modal;
                    function removeModal(){ modal.remove(); $('body').off('keyup.modal-close'); }
                    modal = $('<div>').css({
                        background: 'RGBA(255 255 255 / 0%) url('+src+') no-repeat center',
                        width: "50%",
                        height: "100%",
                        margin: "0 auto",
                        position: "fixed",
                        zIndex: "10000",
                        display: "flex",
                        justifyContent: "center",
                        alignItems: "center",
                        top: "0px",
                        left: "0px",
                        right: "0px",
                        cursor: "zoom-out"
    
    
                    }).click(function(){
                        removeModal();
                    }).appendTo('body');
                    //handling ESC
                    $('body').on('keyup.modal-close', function(e){
                    if(e.key==='Escape'){ removeModal(); } 
                    });
                });
                {% endcomment %}
}); 


</script>

<div class="pcode" id='nw1'>
    <div>
        <div class="container-fluid pt-4 " >
            {% include "../includes/messages.html" %}
            <div class="admin-card">
                {% comment %} <div id="notification_messages">
                    {% if error %}
                    <div class="alert alert-success alert-block">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{ error }}</strong>
                    </div>
                    {% endif %}
                </div> {% endcomment %}
                <div class="row">
                    <div class="col-xs-12 col-lg-12 ">
                        <div class="page-content" >
                            <div class="main-heading-wrap">
                                <h5>{% trans 'Banners' %}</h5>
                                {% if request.user.role == "admin" or request.user|has_permission:"can_add_banner" %}
                                <a style="float:right;margin-right:5%; margin-bottom:20px" class="btn btn-primary" href="{% url 'admin-panel:create-admin-banner' %}">{% trans 'Create' %}</a>
                                {% endif %}
                            </div>
                            <div class="container-fluid" >
                                <div class="table-data__tool">
                                    <div class="table-responsive">
                                        <table id="AdminBannerTable" class="table table-striped  table-sm" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class=" text-center">{% trans "Title" %}</th>
                                                    <th class=" text-center">{% trans "Category" %}</th>
                                                    <th class=" text-center">{% trans "Type" %}</th>
                                                    {% comment %} <th class="col-md-2 text-center">{% trans "Redirect URL" %}</th> {% endcomment %}
                                                    {% comment %} <th class="col-md-1 text-center">{% trans "Clicks" %}</th> {% endcomment %}
                                                    <th class=" text-center">{% trans "Banner" %}</th>
                                                
                                                    {% if request.user.role == "admin" or request.user|has_permission:"can_edit_banner" or request.user|has_permission:"can_delete_banner" %}
                                                    <th class=" text-center">{% trans "Action" %}</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for banner in admin_banners %}
                                                <tr>
                                                    <td class="text-center align-middle">
                                                        {{ banner.title }}
                                                    </td>
                                                    <td  class="text-center align-middle">
                                                        {% if banner.banner_category == "MOBILE_RESPONSIVE" %}<p>MOBILE RESPONSIVE</p>
                                                        {% elif banner.banner_category == "MOBILE_APP" %}<p>MOBILE APP</p>
                                                        {% else %}<p>DESKTOP</p>
                                                        {% endif %}
                                                    </td>
                                                    <td  class="text-center align-middle">
                                                        {{ banner.banner_type }}
                                                    </td>
                                                    {% comment %} <td  class="text-center">
                                                        {% if banner.redirect_url %}
                                                        <a href="{{ banner.redirect_url }}">{{ banner.redirect_url }}</a>
                                                        {% else %}
                                                        <p>Not Available</p>
                                                        {% endif %}
                                                    </td> {% endcomment %}
                                                    {% comment %} <td style="padding-left:27px;"  class="text-center">
                                                        {{ banner.clicks }}
                                                    </td> {% endcomment %}
                                                    <td  class="text-center">
                                                        {% if banner.banner_thumbnail %}
                                                        <img src="{{ banner.banner_thumbnail.url }}" class="img-enlargeable" alt="banner" style="width:100px; height:50px;">
                                                        {% else %}
                                                        <p>Not Available</p>
                                                        {% endif %}

                                                    </td>
                                            
                                                    {% if request.user.role == "admin" or request.user|has_permission:"can_edit_banner" or request.user|has_permission:"can_delete_banner" %}
                                                    <td  class="text-center">
                                                        {% if request.user.role == "admin" or request.user|has_permission:"can_edit_banner" %}
                                                        <a type="button" class="btn btn-warning btn-sm"  href="/admin/edit-admin-banner?banner_id={{ banner.id }}" title="Edit">
                                                            <i class="fa fa-edit" style="font-size: 15px; color: #1f2d3d;"></i>
                                                        </a>
                                                        {% endif %}
                                                        {% if request.user.role == "admin" or request.user|has_permission:"can_delete_banner" %}
                                                        <button type="button" class="btn btn-danger btn-sm" onclick="delete_admin_banner({{ banner.id }})">
                                                            <i style="font-size: 15px;" class="fa fa-trash" aria-hidden="true"></i></button>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                         </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

