{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load math %}
{% load date_utils %}
{% load i18n %}

{% block content %}
<style>
    .admin-card{
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 6px rgb(204 204 204 / 0.25);
        padding: 30px 10px;
    }

    .pcode.left-spacer {
    margin-left: 0px;
    }
    .pcode{
    margin-left: 250px;
    }

    @media(max-width:991px){
        .setting-page .card-title h3{
        font-size: 18px;
        }
        .pcode{
        margin-left: 0px;
        }
    }
    .setting-page .card-title h3{
    font-size: 18px;
    }
 
</style>
<div class="pcode" id='nw1' >
<div>
    <div class="container-fluid ">
        <div class="pt-3 mx-auto" style="max-width: 540px;">
            {% include "includes/messages.html" %}
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 ">
                <div class="page-content pt-4 setting-page">
                    <div class='container-fluid pt-2'>
                        <!-- Bonus Section -->
                        {% if request.user.is_welcome_bonus_enabled or request.user.is_referral_bonus_enabled or request.user.is_losing_bonus_enabled %}
                            <div class="row mb-4">
                                <!-- Welcome Bonus -->
                                {% if request.user.is_welcome_bonus_enabled %}
                                        <div class="page-content col mb-3 mb-md-0">
                                            <div class="admin-card" >
                                                <div class="main-heading-wrap">
                                                    <h5>{% trans "Welcome Bonus Percentage" %}</h5>
                                                </div>
                                                <div class="container-fluid" style="padding-top: 10px">
                                                    <form>
                                                        <div class="d-flex setting-select mb-3">
                                                            <input type="text" id="welcome-bonus"
                                                                placeholder="{% trans 'Enter Welcome Bonus Percentage' %}"
                                                                class="form-control" value="{{welcome_bonus}}" required="required" autocomplete='off'
                                                                onkeypress='return event.charCode >= 48 && event.charCode <= 57 ||
                                                                    event.charCode == 46'>
                                                            <span style='padding:0.5em;'></span>
                                                            <button class="btn btn-primary mr-2 " id="welcome-bonus-submit">
                                                                {% trans "Submit" %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                {% endif %}
                                <!-- Welcome Bonus Ends -->

                                <!-- Referral Bonus -->
                                {% if request.user.is_referral_bonus_enabled %}
                                        <div class="page-content col mb-3 mb-md-0">
                                            <div class="admin-card">
                                                <div class="main-heading-wrap">
                                                    <h5>{% trans "Referral Bonus Percentage" %}</h5>
                                                </div>
                                                <div class="container-fluid" style="padding-top: 10px">
                                                    <form>
                                                        <div class="d-flex setting-select mb-3">
                                                            <input type="text" id="input-bonus-percentage" name="input1-group2"
                                                                placeholder="{% trans 'Enter Referral Bonus Percentage' %}" class="form-control"
                                                                value="{{referral_bonus}}" required="required" autocomplete='off'
                                                                onkeypress='return event.charCode >= 48 && event.charCode <= 57 ||
                                                                    event.charCode == 46'>
                                                            <span style='padding:0.5em;'></span>
                                                            <button class="btn btn-primary" id="referral-button-add">
                                                                {% trans "Submit" %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                {% endif %}
                                <!-- Referral Bonus Ends -->
                            </div>

                            <!-- Losing bonus start -->
                            {% if request.user.is_losing_bonus_enabled %}
                                <div class="row mb-4">
                                    <div class="page-content col-xs-12 col-md-12 mb-3 mb-md-0">
                                        <div class="admin-card">
                                            <div class="main-heading-wrap">
                                                <h5>{% trans "Losing Bonus" %}</h5>
                                            </div>
                                            <div class="container-fluid" style="padding-top: 10px">
                                                <form autocomplete="off">
                                                    <div class="setting-select">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Promo Code" %}</span>
                                                                    <input type="text" id="input-losing-promo-code" name="losing-promo-code"
                                                                        placeholder="{% trans 'Enter promo code.' %}" class="form-control"
                                                                        required="required" autocomplete='off' value="{{losing_promo_code}}"
                                                                        onkeypress='return event.charCode >= 65 && event.charCode <= 90 ||
                                                                        event.charCode >= 97 && event.charCode <= 122 ||
                                                                        event.charCode >= 48 && event.charCode <= 57 ||
                                                                        event.charCode == 45'>
                                                                </div>
                                                                <span style='padding:0.5em;'></span>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Percentage" %}</span>
                                                                    <input type="text" id="input-losing-bonus-percentage" name="losing-bonus-percentage"
                                                                        placeholder="{% trans 'Enter losing Bonus Percentage.' %}" class="form-control"
                                                                        value="{{losing_bonus}}" required="required" autocomplete='off'
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57 ||
                                                                            event.charCode == 46'>
                                                                </div>
                                                                <span style='padding:0.5em;'></span>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Maximum bet limit" %}</span>
                                                                    <input type="text" id="input-losing-max-bet-limit" name="losing-max-bet-limit"
                                                                        placeholder="{% trans 'Enter losing maximum bet limit.' %}" class="form-control"
                                                                        required="required" autocomplete='off' value="{{losing_bet_limit}}"
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-3 form-group" style="min-width: 210px;">
                                                                <div class="date-input">
                                                                    <span>{% trans "Promo-Code Usage Limit (per player)" %}</span>
                                                                    <input  value="{{promo_code_usage_limit}}" type="text" class="form-control"
                                                                        id="input-promo-code-usage-limit" name="promo-code-usage-limit"
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div class="date-input">
                                                                    <span>{% trans "From date" %}</span>
                                                                    <input  value="{{losing_start_date}}" type="text" onChange="validateDateRange(this)" class="form-control" id="input-start-time-losing" name="losing-start-time" readonly="true" style="background-color:transparent">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div class="date-input">
                                                                    <span>{% trans "To date" %}</span>
                                                                    <input value="{{losing_end_date}}" type="text" class="form-control" onChange="validateDateRange(this)" id="input-end-time-losing" name="losing-end-time" readonly="true" style="background-color:transparent">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-1 form-group mt-md-4">
                                                                <button class="btn btn-primary" id="losing-button-add">
                                                                    {% trans "Submit" %}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- Losing Bonus Ends -->
                        {% endif %}
                        <!-- Bonus Section Ends -->

                        <div class="row justify-content-center ">
                            <div class="page-content col-12">
                                <div class="admin-card">
                                    <div class="main-heading-wrap">
                                        <h5>{% trans "Promo Codes History" %}</h5>
                                    </div>
                                    <div class="table-responsive pt-4 result-table w-100">
                                        <table class="table table-data2 table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>{% trans "S. No." %}</th>
                                                    <th>{% trans "Promo Code" %}</th>
                                                    <th>{% trans "Percentage" %}</th>
                                                    <th>{% trans "Start Date" %}</th>
                                                    <th>{% trans "End Date" %}</th>
                                                    <th>{% trans "Usage Limit" %}</th>
                                                    <th>{% trans "Bonus Type" %}</th>
                                                    <th>{% trans "Status" %}</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="result-body">
                                                {% if not bonuses %}
                                                    <tr>
                                                        <td colspan="8" class="text-center">
                                                            <span>{% trans "No data found" %}</span>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {%  for bonus in bonuses %}
                                                <tr class="table-row">
                                                    <td>
                                                        <div class="user-name-wrap text-left" style="border-color: #ccc;">
                                                            <span>{{ forloop.counter }}.</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div >
                                                            <span>{{ bonus.promo_code }}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div >
                                                            <span>{{ bonus.bonus_percentage }}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{ bonus.start_date | local_date:request.session.user_timezone | date:"M. d, Y" }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {% if bonus.end_date %}
                                                                {{ bonus.end_date | local_date:request.session.user_timezone | date:"M. d, Y" }}
                                                            {% else %}
                                                                ------------
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{ bonus.usage_limit }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{ bonus.bonus.get_bonus_type_display }}
                                                        </span>
                                                    </td>
                                                    {% if bonus.is_expired %}
                                                        {% if bonus.is_deleted %}
                                                            <td>
                                                                <span>
                                                                    Disabled
                                                                </span>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <span>
                                                                    Expired
                                                                </span>
                                                            </td>
                                                        {% endif %}
                                                        <td></td>
                                                    {% else %}
                                                        <td>
                                                            <span>
                                                                Active
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-secondary bonus-button" bonus_id="{{ bonus.id }}" id="disablepromobutton">Disable</button>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
<script>
    $('#mobile-collapse').click(function () {
        $("#nw1").toggleClass('left-spacer');
    });

    $("#input-start-time-losing").datetimepicker({
        defaultDate: new Date(),
        format: 'd/m/Y H:i',
        value: '{{ from }}',
        timepicker: true,
    });

    $("#input-end-time-losing").datetimepicker({
        defaultDate: new Date(),
        format: 'd/m/Y H:i',
        value: '{{ to }}',
        timepicker: true,
    });

    function validateDateRange(input){
        
        var from_date = $("#input-start-time-losing").val();
        var to_date = $("#input-end-time-losing").val();
        error_msg = "";
        if(input.id == "input-start-time-losing"){
            error_msg = "From date must be less than To date!!"
        }
        else{
            error_msg = "To date must be greater than From date!!"
        }

        from_day = parseInt(from_date.split("/")[0]);
        from_month = parseInt(from_date.split("/")[1]);
        from_year = from_date.split("/")[2];
        from_year = from_year.split(" ")[0];
        from_hour = parseInt(from_date.split(" ")[1].split(":")[0]);
        from_minute = parseInt(from_date.split(" ")[1].split(":")[1]);

        to_day = parseInt(to_date.split("/")[0]);
        to_month = parseInt(to_date.split("/")[1]);
        to_year = to_date.split("/")[2];
        to_year = to_year.split(" ")[0];
        to_hour = parseInt(to_date.split(" ")[1].split(":")[0]);
        to_minute = parseInt(to_date.split(" ")[1].split(":")[1]);
        // from date should be less than to date
        if(from_year > to_year){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error_msg
            });
            $("#input-start-time-losing").val("{{losing_start_date}}");
            $("#input-end-time-losing").val("{{losing_end_date}}");
            return false;
        }else if(from_year == to_year){
            if(from_month > to_month){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error_msg
                });
                
                $("#input-start-time-losing").val("{{losing_start_date}}");
                $("#input-end-time-losing").val("{{losing_end_date}}");
                return false;
            }else if(from_month == to_month){
                if(from_day > to_day){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error_msg
                    });
                
                    $("#input-start-time-losing").val("{{losing_start_date}}");
                    $("#input-end-time-losing").val("{{losing_end_date}}");
                    return false;
                }else if(from_day == to_day){
                    if(from_hour > to_hour){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error_msg
                        });
                        
                        $("#input-start-time-losing").val("{{losing_start_date}}");
                        $("#input-end-time-losing").val("{{losing_end_date}}");
                        return false;
                    }else if(from_hour == to_hour){
                        if(from_minute > to_minute){
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: error_msg
                            });
                            
                            $("#input-start-time-losing").val("{{losing_start_date}}");
                            $("#input-end-time-losing").val("{{losing_end_date}}");
                            return false;
                        }
                    }
                }
            }
        }        
    }

    $("#welcome-bonus-submit").click(function(e){
        e.preventDefault();
        let percentage = $("#welcome-bonus").val();
        if(percentage < 0){
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: "Bonus percentage should not be less than 0",
            });
            $("#welcome-bonus").val(null);
            return false;
        }
        if(percentage == ""){
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: "Input Field cannot be empty",
            });
        }
        else{
            $.ajax({
                url: "{% url 'admin-panel:bonus-percentage' %}",
                type: "POST",
                dataType: "json",
                data: {
                    percentage: percentage,
                    bonusType: "welcome_bonus",
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: data['message'],
                    });
                    location.reload();
                },
                error: function(data){
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data['responseJSON'],
                    })
                }
            });
        }
    });

    $("#referral-button-add").click(function (e) {
        var referral_bonus_percentage = $("#input-bonus-percentage").val()
        if (referral_bonus_percentage < 0 || referral_bonus_percentage.length == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Invalid Bonus Percentage',
            })
            return false
        } else {
            e.preventDefault()
            Swal.fire({
                html:
                    '<div class="swal-custom-content">' +
                    '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                    '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                    '</div>',
                customClass: {
                    actions: 'swal-custom-actions',
                    confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                    cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
                },
                showCancelButton: true,
                confirmButtonText: '{% trans "Yes" %}',
                cancelButtonText: '{% trans "No" %}'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "{% url 'admin-panel:bonus-percentage' %}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            percentage: referral_bonus_percentage,
                            bonusType: "referral_bonus",
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: data['message'],
                            })
                            location.reload();
                        },
                    });
                } else if (result.dismiss === "cancel") {
                    // show message ?
                }
            })
        }
    })

    $("#losing-button-add").click(function (e) {
        e.preventDefault();
        var losing_start_time = $("#input-start-time-losing").val();
        var losing_end_time = $("#input-end-time-losing").val();
        var losing_bonus_percentage = $("#input-losing-bonus-percentage").val();
        var losing_max_bet_limit = $("#input-losing-max-bet-limit").val();
        var losing_promo_code = $("#input-losing-promo-code").val();
        var promoUsageLimit = $("#input-promo-code-usage-limit").val();

        start_temp= losing_start_time.split("/");
        end_temp= losing_end_time.split("/");

        if(losing_promo_code.length == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Promo-Code must not be empty',
            })
            return false
        }
        else if(losing_bonus_percentage < 0 || losing_bonus_percentage.length == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Invalid Percentage',
            })
            return false
        }
        else if(losing_max_bet_limit.length == 0 || losing_max_bet_limit < 0){
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Invalid bet-limit',
            })
            return false
        }
        else if(promoUsageLimit < 1 || promoUsageLimit.length == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Promo-Code usage limit must not be less than 1',
            })
            return false
        }

        else {
            Swal.fire({
                html:
                    '<div class="swal-custom-content">' +
                    '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                    '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                    '</div>',
                customClass: {
                    actions: 'swal-custom-actions',
                    confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                    cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
                },
                showCancelButton: true,
                confirmButtonText: '{% trans "Yes" %}',
                cancelButtonText: '{% trans "No" %}'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "{% url 'admin-panel:bonus-percentage' %}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            losing_start_time: losing_start_time,
                            losing_end_time: losing_end_time,
                            percentage: losing_bonus_percentage,
                            losing_max_bet_limit: losing_max_bet_limit,
                            promo_code_usage_limit: promoUsageLimit,
                            losing_promo_code: losing_promo_code,

                            bonusType: "losing_bonus",
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            Swal.fire({
                                icon: data["status"],
                                title: data["status"][0].toUpperCase() + data["status"].substring(1),
                                text: data['message'],
                            }).then(() => {
                                window.location.reload();
                            });
                        },
                        error : function(data) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: data['message'],
                            })
                        }
                    });
                } else if (result.dismiss === "cancel") {
                    // show message ?
                }
            })
        }
    })

    $("#disablepromobutton").click(function(e){
        e.preventDefault();
        Swal.fire({
            html:
                '<div class="swal-custom-content">' +
                '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                '</div>',
            customClass: {
                actions: 'swal-custom-actions',
                confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
            },
            showCancelButton: true,
            confirmButtonText: '{% trans "Yes" %}',
            cancelButtonText: '{% trans "No" %}'
        }).then((resp) => {
            if(resp.value){
                console.log(resp.value);

                if(String(resp.value == "true")){
                    var bonus_id = $(this).attr("bonus_id");
                    console.log(bonus_id);
                    var url_mask = "{% url 'admin-panel:disable-bonus' %}";
                    $.ajax({
                        url: url_mask,
                        type: "POST",
                        dataType: "json",
                        data: {
                            bonus_id: bonus_id
                        },
                        success: function (data) {
                            console.log(data);
                            Swal.fire({
                                    icon: data["status"],
                                    title: data["message"],
                                    text: data['message'],
                                });
                        },
                    });
                    location.reload();
                }
            }
        });
    });
</script>

{% endblock content %}