{% extends "../index.html" %}
{% load i18n %}
{% load static %}
{% load math %}
{% block content %}
<!-- <link rel="stylesheet" href="style.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }

  .pcode{
    padding-inline: 20px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .left-spacer {
    @media (min-width: 650px) {
      margin-left: 250px !important;
    }
  }

  .card {
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .preview_provider {
    background-color: #333;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
  }

  .provider_view {
    all: unset;
  }

</style>

<div class="pcode left-spacer" id='nw1' style=" margin-top:10px;">

  <!-- Search and filters -->
  <div class="card">
    {% if provider %}
      <div class="ml-3 mt-3 main-heading-wrap">
        <h5>{% trans "Casino Providers" %}: {{ provider.name }}</h5>
      </div>
    
      <div class="container">
        <p style="color: #2aa514;"> Image should be 300px x 185px</p>
        <label for="file_input" class="upload-label" style="cursor: pointer;">
          <input type="file" id="file_input" accept="image/*" onchange="previewImage()" class="form-control" style="display: none;">
          <button type="button" class="btn btn-dark" style="display: flex; align-items: center; gap: 8px;" onclick="document.getElementById('file_input').click()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload-cloud">
              <polyline points="16 16 12 12 8 16"></polyline>
              <line x1="12" y1="12" x2="12" y2="21"></line>
              <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
            </svg>
            Upload File
          </button>
        </label>      
        <input type="file" id="file_input" accept="image/*" onchange="previewImage()" class="form-control" style="display: none;">
        <div class="preview_provider" style="margin-top:10px; padding: 15px;">
          <img id="provider_img" width="150px" height="92px" src="{% if provider.logo %}{{ provider.logo.url }}{% else %}/static/casino_images/baw_a51_default.webp{% endif %}" onclick="provider_click()" />
        </div>
        <button id="button-upload" class="btn btn-primary mt-3" style="margin-bottom: 1.5rem;" type="button">Update</button>
      </div>
      <script>
        var has_changed = false;
      
      
        function previewImage() {
          const file = document.getElementById('file_input').files[0];
          if (file) {
            has_changed = true;
            const reader = new FileReader();
            reader.onload = function (e) {
              document.getElementById('provider_img').src = e.target.result;
            };
            reader.readAsDataURL(file);
          }
        }
      
        function getCSRFToken() {
          let csrfToken = null;
          const cookies = document.cookie.split(';');
          for (let cookie of cookies) {
            cookie = cookie.trim();
            if (cookie.startsWith('csrftoken=')) {
              csrfToken = cookie.split('=')[1];
              break;
            }
          }
          return csrfToken;
        }
      
        // uplaod image
        $('#button-upload').click(
          function uploadFile() {
            const fileInput = document.getElementById('file_input');
            if (!fileInput.files.length || !has_changed) {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select a file first!',
                allowOutsideClick: false,
              });
              return;
            }
      
            const formData = new FormData();
            formData.append('logo', fileInput.files[0]);
            formData.append('id', '{{ provider.id }}')
      
            fetch('{% url 'admin-panel:edit-provider' %}', {
              method: 'POST',
              body: formData,
              headers: {
                'X-CSRFToken': getCSRFToken(), // Adding CSRF token to the request headers
              },
            })
              .then(response => response.json())
              .then(data => {
                console.log(data);
                if (data.success) {
                  has_changed = false;
                  Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'File uploaded successfully!',
                  });
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message || 'Please enter valid URL',
                    allowOutsideClick: false,
                  });
                }
              })
              .catch(error => {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Network error. Please try again.',
                  allowOutsideClick: false,
                });
              });
          }
        );
      </script>
    {% else %}
      <div class="ml-3 mt-3 main-heading-wrap">
        <h5>This provider does not exist</h5>
      </div>
    {% endif %}
  </div>
{% endblock content %}