
.icon-manager:before { content: '\e800'; } /* '' */
.icon-limit:before { content: '\e801'; } /* '' */
.icon-coupons:before { content: '\e802'; } /* '' */
.icon-dealer:before { content: '\e803'; } /* '' */
.icon-language:before { content: '\e804'; } /* '' */
.icon-log:before { content: '\e805'; } /* '' */
.icon-travis-logo:before { content: '\e806'; } /* '' */
.icon-odd-select:before { content: '\e807'; } /* '' */
.icon-players:before { content: '\e808'; } /* '' */
.icon-profit:before { content: '\e809'; } /* '' */
.icon-terminal:before { content: '\e80a'; } /* '' */
.icon-user_action:before { content: '\e80b'; } /* '' */
.icon-vouchers:before { content: '\e80c'; } /* '' */
.icon-basketball:before { content: '\e80d'; } /* '' */
.icon-soccer:before { content: '\e80e'; } /* '' */
.icon-sports:before { content: '\e80f'; } /* '' */
.icon-tennis:before { content: '\e810'; } /* '' */
.icon-movement:before { content: '\e811'; } /* '' */
.icon-agent:before { content: '\e812'; } /* '' */
.icon-icon-betting-limits:before { content: '\e813'; } /* '' */
.icon-support:before { content: '\e814'; } /* '' */
.icon-alert:before { content: '\e815'; } /* '' */
.icon-icon-admin:before { content: '\e816'; } /* '' */
.icon-icon-alert:before { content: '\e817'; } /* '' */
.icon-admin:before { content: '\e819'; } /* '' */
.icon-icon-coupons:before { content: '\e81a'; } /* '' */
.icon-icon-credit:before { content: '\e81b'; } /* '' */
.icon-icon-dealer:before { content: '\e81c'; } /* '' */
.icon-icon-e-vouchers:before { content: '\e81d'; } /* '' */
.icon-icon-manager:before { content: '\e81f'; } /* '' */
.icon-icon-players:before { content: '\e820'; } /* '' */
.icon-icon-profit:before { content: '\e821'; } /* '' */
.icon-icon-shop:before { content: '\e822'; } /* '' */
.icon-icon-log-file:before { content: '\e823'; } /* '' */