{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load math %}
{% load date_utils %}
{% load i18n %}

{% block title %}
Deposit Bonus
{% endblock title %}
{% block content %}
<style>
    .admin-card{
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 6px rgb(204 204 204 / 0.25);
        padding: 30px 10px;
    }

    .pcode.left-spacer {
    margin-left: 0px;
    }
    .pcode{
    margin-left: 250px;
    }

    @media(max-width:991px){
        .setting-page .card-title h3{
        font-size: 18px;
        }
        .pcode{
        margin-left: 0px;
        }
    }
    .setting-page .card-title h3{
    font-size: 18px;
    }
 
</style>
<div class="pcode" id='nw1' >
<div>
    <div class="container-fluid ">
        <div class="pt-3 mx-auto" style="max-width: 540px;">
            {% include "includes/messages.html" %}
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 ">
                <div class="page-content pt-4 setting-page">
                    <div class='container-fluid pt-2'>
                        <!-- Bonus Section -->
                            <div class="row mb-4">
                                <!-- Referral Bonus -->
                                {% if request.user.is_deposit_bonus_enabled %}
                                        <div class="page-content col mb-3 mb-md-0">
                                            <div class="admin-card">
                                                <div class="main-heading-wrap">
                                                    <h5>{% trans "Deposit Bonus" %}</h5>
                                                </div>
                                                <div class="container-fluid " style="padding-top: 10px">
                                                    <form method="post" autocomplete="off" id="deposit-bonus-form">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 form-group" id="promo-field-div" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Promo Code" %}</span>
                                                                    <input type="text" id="input-deposit-promo-code" name="deposit-promo-code"
                                                                        placeholder="{% trans 'Enter promo code.' %}" class="form-control"
                                                                        required="required" autocomplete='off' value=""
                                                                        onkeypress='return event.charCode >= 65 && event.charCode <= 90 ||
                                                                        event.charCode >= 97 && event.charCode <= 122 ||
                                                                        event.charCode >= 48 && event.charCode <= 57 ||
                                                                        event.charCode == 45'>
                                                                </div>
                                                                <span style='padding:0.5em;'></span>
                                                            </div>

                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Percentage" %}</span>
                                                                    <input type="number" id="input-bonus-percentage" name="input1-group2"
                                                                        placeholder="{% trans 'Enter Deposit Bonus Percentage.' %}" class="form-control"
                                                                        required="required" autocomplete='off' value="{{ deposit_bonus }}"
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57 ||
                                                                        event.charCode == 46'
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                                        min="1" max="100"
                                                                        onchange=checkBonusPercentage(this)>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Maximum Bonus Limit" %}</span>
                                                                    <input type="text" id="input-bonus-limit" name="input1-group2"
                                                                        placeholder="{% trans 'Enter maximum bonus limit.' %}" class="form-control"
                                                                        required="required" autocomplete='off' value="{{deposit_bonus_limit}}"
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="6">
                                                                </div>
                                                            </div>

                                                            
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 form-group" style="min-width: 210px;">
                                                                <div style="font-weight: bold; color:black;">
                                                                    <span style="font-weight: bold;">{% trans "Per day usage" %}</span>
                                                                    <input type="text" id="usage-limit" name="usage-limit"
                                                                        placeholder="{% trans 'Per day usage' %}" class="form-control"
                                                                        required="required" autocomplete='off' value="{{deposit_bonus_per_day_limit}}"
                                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="6">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3 form-group" style="min-width: 210px;">
                                                                <div class="date-input">
                                                                    <span>{% trans "From date" %}</span>
                                                                    <input  value="" type="text" placeholder="Select from Date" onChange="validateDateRange(this)" class="form-control" id="input-start-time" name="input-start-time" style="background-color:transparent" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3 form-group" style="min-width: 210px;">
                                                                <div class="date-input">
                                                                    <span>{% trans "To date" %}</span>
                                                                    <input value="" type="text" placeholder="Select to Date" class="form-control" onChange="validateDateRange(this)" id="input-end-time" name="input-end-time" style="background-color:transparent" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-2 form-group mt-md-4">
                                                                <button type="submit" class="btn btn-primary btn-block" id="bonus-button-add">
                                                                    {% trans "Submit" %}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                 {% endif %}
                                <!-- Referral Bonus Ends -->
                            </div>
                        <!-- Bonus Section Ends -->

                        <div class="row justify-content-center ">
                            <div class="page-content col-12">
                                <div class="admin-card">
                                    <div class="main-heading-wrap">
                                        <h5>{% trans "Promo Codes History" %}</h5>
                                    </div>
                                    <div class="table-responsive pt-4 result-table w-100">
                                        <table class="table table-data2 table-hover text-center" id="sortable">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>{% trans "S. No." %}</th>
                                                    <th>{% trans "Promo Code" %}</th>
                                                    <th>{% trans "Percentage" %}</th>
                                                    <th>{% trans "Maximum Bonus Limit" %}</th>
                                                    <th>{% trans "Start Date" %}</th>
                                                    <th>{% trans "End Date" %}</th>
                                                    <th>{% trans "Usage Limit" %}</th>
                                                    <th>{% trans "Status" %}</th>
                                                    <th>{% trans "Action" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody id="result-body">
                                                {% if not promo_codes %}
                                                    <tr>
                                                        <td colspan="8" class="text-center">
                                                            <span>{% trans "No data found" %}</span>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {%  for bonus in promo_codes %}
                                                <tr class="table-row">
                                                    <td class="align-middle">
                                                        <div>
                                                            <span>{{ forloop.counter }}.</span>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div >
                                                            <span>{{ bonus.promo_code }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div >
                                                            <span>{{ bonus.bonus_percentage }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div >
                                                            <span>{{ bonus.max_bonus_limit }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <span>
                                                            {{ bonus.start_date | date:"M. d, Y" }}
                                                        </span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <span>
                                                            {% if bonus.end_date %}
                                                                {{ bonus.end_date | date:"M. d, Y" }}
                                                            {% else %}
                                                                ------------
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <span>
                                                            {{ bonus.usage_limit }}
                                                        </span>
                                                    </td>
                                                    {% if bonus.is_expired %}
                                                        {% if bonus.is_deleted %}
                                                            <td class="align-middle">
                                                                <span class="text-danger">
                                                                    Disabled
                                                                </span>
                                                            </td>
                                                            <td class="align-middle">
                                                                <button class="enablepromobutton btn btn-primary bonus-button" bonus_id="{{ bonus.id }}">Activate</button>
                                                            </td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                                <span class="text-danger">
                                                                    Expired
                                                                </span>
                                                            </td>
                                                        {% endif %}
                                                        {% comment %} <td class="align-middle"></td> {% endcomment %}
                                                    {% else %}
                                                        <td class="align-middle">
                                                            <span class="text-success">
                                                                Active
                                                            </span>
                                                        </td>
                                                        <td class="align-middle">
                                                            <button class="disablepromobutton btn btn-primary bonus-button" bonus_id="{{ bonus.id }}" >Disable</button>
                                                            <button class="edit-deposit-popup btn btn-primary bonus-button" href="#edit-deposit-page" 
                                                            data-bonus_id="{{ bonus.id }}" data-bonus_name="{{ bonus.promo_code }}" data-percentage="{{ bonus.bonus_percentage }}"
                                                            data-use_limit="{{ bonus.usage_limit }}" data-start_date="{{ bonus.start_date | date:'d/m/Y' }}"
                                                            data-end_date="{{ bonus.end_date | date:'d/m/Y' }}" data-max_bonus_limit={{bonus.max_bonus_limit}}>Edit</button>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
{% include './edit_deposit_bonus.html' %}
<script>
    $('#mobile-collapse').click(function () {
        $("#nw1").toggleClass('left-spacer');
    });

    $("#input-start-time").datetimepicker({
        defaultDate: new Date(),
        format: 'd/m/Y',
        value: '{{ from }}',
        timepicker: false,
    });

    $("#input-end-time").datetimepicker({
        defaultDate: new Date(),
        format: 'd/m/Y',
        value: '{{ to }}',
        timepicker: false,
    });

    {% comment %} $("#bonus-button-add").click(function (e) {
        var deposit_bonus = $("#input-bonus-percentage").val()
        var deposit_bonus_limit = $("#input-bonus-limit").val()
        var deposit_per_day_usage_limit = $("#usage-limit").val()

        if (deposit_bonus==''){
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please Enter Bonus Percentage First',
            })
            return false
        }
       
        if (deposit_bonus > 100)  {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Deposit Bonus Percentage must be less then 100',
            })
            return false
        }
       
        else {
            e.preventDefault()
            Swal.fire({
                html:
                    '<div class="swal-custom-content">' +
                    '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                    '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                    '</div>',
                customClass: {
                    actions: 'swal-custom-actions',
                    confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                    cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
                },
                showCancelButton: true,
                confirmButtonText: '{% trans "Yes" %}',
                cancelButtonText: '{% trans "No" %}'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "{% url 'admin-panel:bonus-percentage' %}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            percentage: deposit_bonus,
                            bonusType: "deposit_bonus",
                            usage_limit : deposit_bonus_limit,
                            deposit_per_day_usage_limit:deposit_per_day_usage_limit,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: data['message'],
                            }).then((result) => {
                                location.reload();
                            });
                        },
                    });
                } else if (result.dismiss === "cancel") {
                    // show message ?
                }
            })
        }
    }) {% endcomment %}

    $('#deposit-bonus-form').submit(function(e) {
        // Prevent the default form submission
        e.preventDefault();

        var deposit_bonus_percentage = $("#input-bonus-percentage").val()
        var deposit_bonus_limit = $("#input-bonus-limit").val()
        var deposit_per_day_usage_limit = $("#usage-limit").val()
        var start_time = $("#input-start-time").val();
        var end_time = $("#input-end-time").val();
        var promo_code = $("#input-deposit-promo-code").val();
        {% comment %} var maximum_bonus_limit = $("#max-bonus-limit").val(); {% endcomment %}

        if (deposit_bonus_percentage > 100)  {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Deposit Bonus Percentage must be less then 100',
            })
            return false
        }


        $.ajax({
            type: 'POST',
            url: "{% url 'admin-panel:bonus-percentage' %}",
            data: {
                start_time: start_time,
                end_time: end_time,
                percentage: deposit_bonus_percentage || 0,
                promo_code: promo_code,
                usage_limit : deposit_bonus_limit,
                deposit_per_day_usage_limit:deposit_per_day_usage_limit,
                bonusType: "deposit_bonus",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                Swal.fire({
                    icon: response["status"],
                    title: response["status"][0].toUpperCase() + response["status"].substring(1),
                    text: response['message'],
                }).then(() => {
                    window.location.reload();
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', status, error, xhr);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: xhr.responseJSON.message,
                }).then(() => {
                    if(xhr.responseJSON.message=="Something Went Wrong"){
                        window.location.reload();
                    }
                });
            }
        });
    });

    $(".disablepromobutton").click(function(e){
        e.preventDefault();
        Swal.fire({
            {% comment %} html:
                '<div class="swal-custom-content">' +
                '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                '</div>',
            customClass: {
                actions: 'swal-custom-actions',
                confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
            }, {% endcomment %}
            icon:"info",
            title:"Are you sure?",
            showCancelButton: true,
            confirmButtonText: '{% trans "Yes" %}',
            cancelButtonText: '{% trans "No" %}'
        }).then((resp) => {
            if(resp.value){
                console.log(resp.value);

                if(String(resp.value == "true")){
                    var bonus_id = $(this).attr("bonus_id");
                    console.log(bonus_id);
                    var url_mask = "{% url 'admin-panel:disable-bonus' %}";
                    $.ajax({
                        url: url_mask,
                        type: "POST",
                        dataType: "json",
                        data: {
                            bonus_id: bonus_id
                        },
                        success: function (data) {
                            console.log(data);
                            Swal.fire({
                                icon: data["status"],
                                title: data["message"],
                                text: data['message'],
                            }).then((result) => {
                                location.reload();
                            });
                        },
                    });
                }
            }
        });
    });

    $(".enablepromobutton").click(function(e){
        e.preventDefault();
        Swal.fire({
            {% comment %} html:
                '<div class="swal-custom-content">' +
                '<p class="swal-custom-icon"><i class="cp-icon">&#xe815;</i></p>' +
                '<p class="swal-custom-title">{% trans "Are you sure" %} ?</p>' +
                '</div>',
            customClass: {
                actions: 'swal-custom-actions',
                confirmButton: 'swal-custom-btn swal-custom-confirm-btn',
                cancelButton: 'swal-custom-btn swal-custom-cancel-btn',
            }, {% endcomment %}
            icon:"info",
            title:"Are you sure?",
            showCancelButton: true,
            confirmButtonText: '{% trans "Yes" %}',
            cancelButtonText: '{% trans "No" %}'
        }).then((resp) => {
            if(resp.value){
                if(String(resp.value == "true")){
                    var bonus_id = $(this).attr("bonus_id");
                    var url_mask = "{% url 'admin-panel:enable-bonus' %}";
                    $.ajax({
                        url: url_mask,
                        type: "POST",
                        dataType: "json",
                        data: {
                            bonus_id: bonus_id
                        },
                        success: function (data) {
                            console.log(data);
                            Swal.fire({
                                icon: data["status"],
                                title: data["message"],
                                text: data['message'],
                            }).then((result) => {
                                location.reload();
                            });
                        },
                    });
                }
            }
        });
    });

    $('.form-control').bind('copy paste cut',function(e) {
      e.preventDefault();
      Swal.fire('cut,copy & paste options are disabled !!');
    });


    $('.edit-deposit-popup').magnificPopup({
        type:'inline',
        midClick: true,
        fixedContentPos: true,
        callbacks: {
            beforeOpen: function() {
                this.st.mainClass = this.st.el.attr('data-effect');

                var bonus_id = this.st.el.attr('data-bonus_id');
                var promo_code = this.st.el.attr('data-bonus_name');
                var percentage = this.st.el.attr('data-percentage');
                var use_limit = this.st.el.attr('data-use_limit');
                var start_date = this.st.el.attr('data-start_date');
                var end_date = this.st.el.attr('data-end_date');
                var max_bonus_limit = this.st.el.attr('data-max_bonus_limit');

                $("#edit-deposit-page input[name='deposit-promo-code']").val(promo_code).prop('readonly', true);
                $("#edit-deposit-page input[name='bonus-id']").val(bonus_id).prop('readonly', true);
                $("#edit-deposit-page input[name='deposit-bonus-percentage']").val(percentage).prop('readonly', false);
                $("#edit-deposit-page input[name='deposit-max-limit']").val(max_bonus_limit).prop('readonly', false);
                $("#edit-deposit-page input[name='usage-limit']").val(use_limit).prop('readonly', false);
                $("#edit-deposit-page input[name='input-start-time']").val(start_date).prop('readonly', false);
                $("#edit-deposit-page input[name='input-end-time']").val(end_date).prop('readonly', false);
            }
        },
    });

    $('#edit-deposit-form').submit(function (event) {
        event.preventDefault();
        console.log("I AM HERE")

        var start_time = $("#input-start-time").val();
        var end_time = $("#input-end-time").val();
        var bonus_percentage = $("#input-bonus-percentage").val();
        var promo_code = $("#input-deposit-promo-code").val();
        var promoUsageLimit = $("#usage-limit").val();
        var bonus_id = $("#input-bonus-id").val();
        var max_bonus_limit = $("#input-bonus-limit").val();

        if (bonus_percentage > 100)  {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Deposit Bonus Percentage must be less then 100',
            })
            return false
        }

        $.ajax({
            url: "{% url 'admin-panel:edit-bonuses' %}",
            type: "POST",
            dataType: "json",
            data: {
                bonus_type: "deposit_bonus",
                losing_promo_code: promo_code,
                promoUsageLimit: promoUsageLimit,
                losing_bonus_percentage: bonus_percentage,
                losing_end_time: end_time,
                losing_start_time: start_time,
                bonus_id: bonus_id,
                max_bonus_limit:max_bonus_limit,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                if(data.status === 'Failed'){
                    if(data.message.toLowerCase().includes("password")){
                        $("#edit-password-input .error-msg").text(data.message);
                    }
                    else {
                        $("#edit-password-input .error-msg").text('');
                    }
                }else {
                    Swal.fire({
                        title: 'Promocode: ' + promo_code + ' edited successfully!',
                        icon: 'success',
                    }).then((result) => {
                            $.magnificPopup.close();
                            location.reload();
                    });
                }
            },
        });
    });

    function validateDateRange(input){
        var from_date = $("#input-start-time").val();
        var to_date = $("#input-end-time").val();
        error_msg = "";
        if(input.id == "input-start-time"){
            error_msg = "From date must be less than To date!!"
            if([null, undefined, ""].includes(from_date)){
                return false
            }
        }
        else{
            error_msg = "To date must be greater than From date!!"
            if([null, undefined, ""].includes(to_date)){
                return false
            }
        }

        var from_day = parseInt(from_date.split("/")[0]);
        var from_month = parseInt(from_date.split("/")[1]);
        var from_year = from_date.split("/")[2];
        from_year = from_year.split(" ")[0];

        var to_day = parseInt(to_date.split("/")[0]);
        var to_month = parseInt(to_date.split("/")[1]);
        var to_year = to_date.split("/")[2];
        // from date should be less than to date
        if(from_year > to_year){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error_msg
            });
            input.value="";
            return false;
        }else if(from_year == to_year){
            if(from_month > to_month){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error_msg
                });
                input.value="";
                return false;
            }else if(from_month == to_month){
                if(from_day > to_day){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error_msg
                    });

                    input.value="";
                    return false;
                }
            }
        }        
    }

    function checkBonusPercentage(input) {
        const value = parseFloat(input.value);
        if (isNaN(value) || value > 100) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid Bonus Percentage',
                text: 'Please enter a percentage between 1 and 100.',
            });
            input.value = '';
        }
    }

</script>

{% endblock content %}